---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }} Blog</title>
    <link>{{ site.url }}/blog/</link>
    <description>Insights on pastoral health, ministry leadership, and faith from {{ site.name }}.</description>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <language>en-us</language>
    {% for post in collections.blog | reverse %}
    <item>
      <title>{{ post.data.title | escape }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <description>{{ post.data.description | escape }}</description>
      <pubDate>{{ post.data.date | dateToRFC822 }}</pubDate>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>
